CLIENT_GATEWAY_PORT=3000
PRODUCTS_PORT=3001
ORDERS_PORT=3002

NATS_SERVERS=nats://nats-server:4222

PRODUCTS_DATABASE_URL=file:./dev.db
ORDERS_DATABASE_URL=postgresql://postgres:postgres@orders-db-service:5432/orders_db?schema=public

# Orders Database
ORDERS_DB_HOST=orders-db-service
ORDERS_DB_PORT=5432
ORDERS_DB_USER=postgres
ORDERS_DB_PASSWORD=postgres
ORDERS_DB_NAME=orders_db